<fs-list [config]="listConfig">
  <fs-list-column title="Account" [show]="!accountId">
    <ng-template fs-list-cell let-row="row" class="col-account">
      <div class="row">
        <fs-badge [image]="row.account?.avatar?.small" color="#ccc" text="?"></fs-badge>
        <div>
          <ng-container *ngIf="accountClick.observers.length && row.account; else account">
            <a (click)="accountClick.emit(row)">
              <ng-container *ngTemplateOutlet="account"></ng-container>
            </a>
          </ng-container>
          <div class="small">
            {{row.identifier || row.email}}
          </div>
        </div>
      </div>
      <ng-template #account>
        {{row.account?.name || 'Anonymous'}}
      </ng-template>
    </ng-template>
  </fs-list-column>
  <fs-list-column title="Status">
    <ng-template fs-list-cell let-row="row">
      {{SigninStates[row.state]}}
      <div class="small">{{row.message}}</div>
    </ng-template>
  </fs-list-column> 
  <fs-list-column title="Verification" align="center">
    <ng-template fs-list-cell let-row="row">
      <ng-container *ngIf="row.verificationCode">
        <fs-popover [template]="codeTmpl">
          {{row.verificationCode.id}}
        </fs-popover>
        <ng-template #codeTmpl>
          <div class="verification-popover">
            <div>{{SigninVerificationCodeStates[row.verificationCode.state]}}</div>
            <div>{{row.verificationCode.attempts}} {{row.verificationCode.attempts === 1 ? 'Attempt' : 'Attempts'}}</div>
            <div>Created on {{row.verificationCode.createDate | fsDateFormat: 'full-date-time'}}</div>
          </div>
        </ng-template>
      </ng-container>
    </ng-template>
  </fs-list-column> 
  <fs-list-column title="Device" align="center">
    <ng-template fs-list-cell let-row="row">
      <fs-device-os
        *ngIf="row.device"
        [type]="row.device.type"
        [os]="row.device.osType"
        [version]="row.device.osVersion"
        [meta]="row.meta">
      </fs-device-os>
    </ng-template>
  </fs-list-column>
  <fs-list-column title="Browser">
    <ng-template fs-list-cell let-row="row">
      <fs-device-browser
        *ngIf="row.device"
        [type]="row.device.browserType"
        [version]="row.device.browserVersion"
        [showName]="true">
      </fs-device-browser>
    </ng-template>
  </fs-list-column>
  <fs-list-column title="Location">
    <ng-template fs-list-cell let-row="row">
      <fs-ip
        *ngIf="row.ip"
        [country]="row.ip.country"
        [region]="row.ip.region"
        [ip]="row.ip.ip"
        [lng]="row.ip.lng"
        [lat]="row.ip.lat">
      </fs-ip>
    </ng-template>
  </fs-list-column>
  <fs-list-column name="create_date" [sortable]="true" title="Date">
    <ng-template fs-list-cell let-row="row">
      {{row.createDate | fsDateFormat: 'full-date-time'}}
    </ng-template>
  </fs-list-column>
</fs-list>
