:host ::ng-deep {
  .col-account {
    .row {
      display: flex;
      align-items: center;

      fs-badge {
        margin-right: 8px;
        font-weight: bold;

        ::ng-deep {
          .fs-badge-text {
            font-size: 130%;
          }
        }
      }
    }
  }

  .col-method {
    .method {
      text-transform: capitalize;
    }
  }
}

fs-device-os {
  display: inline-block;
}

.verification-popover {
  text-align: center;
}