
<div *ngIf="mode === 'email'">
  <ng-container *ngIf="showSocialSignins">
    <app-social-signin>
    </app-social-signin>
  </ng-container>

  <app-email
    (validated)="emailValidated($event)">
  </app-email>
</div>

<div *ngIf="mode === 'password'">
  <app-password
    [email]="email"
    [password]="password"
    (emailChange)="emailChange()"
    (signedIn)="onSignedIn($event)"
    (verificationRequired)="verificationRequired.emit($event)"
    (passwordReset)="passwordReset.emit($event)">
  </app-password>
</div>