<div *ngIf="mode === 'email'">
  <app-email
    [continueLabel]="showSocialSignins ? 'Continue with email' : 'Continue'"
    (validated)="emailValidated($event)"
    (verificationRequired)="verificationRequired.emit($event)"
    (signedIn)="onSignedIn($event)">
  </app-email>
  <app-social-signin [show]="showSocialSignins"></app-social-signin>
</div>
<div *ngIf="mode === 'password'">
  <app-password
    [email]="email"
    [password]="password"
    (emailChange)="emailChange()"
    (signedIn)="onSignedIn($event)"
    (verificationRequired)="verificationRequired.emit($event)"
    (passwordReset)="passwordReset.emit($event)">
  </app-password>
</div>