@if (mode === 'email') {
  <div>
    <app-email
      [continueLabel]="showSocialSignins ? 'Continue with email' : 'Continue'"
      (validated)="emailValidated($event)"
      (verificationRequired)="verificationRequired.emit($event)"
      (signedIn)="onSignedIn($event)">
    </app-email>
    <app-social-signin [show]="showSocialSignins"></app-social-signin>
  </div>
}
@if (mode === 'password') {
  <div>
    <app-password
      [email]="email"
      [password]="password"
      (emailChange)="emailChange()"
      (signedIn)="onSignedIn($event)"
      (verificationRequired)="verificationRequired.emit($event)"
      (passwordReset)="passwordReset.emit($event)">
    </app-password>
  </div>
}