<form fsForm [submit]="submit" [confirm]="false">
  <div class="form-fields">
    <mat-form-field class="full-width form-field-multiline-subscript">
      <mat-label>
        <span class="label-icon">
          <mat-icon>mail_outline</mat-icon> Email
        </span>
      </mat-label>
      <input
        #emailInput
        matInput
        [(ngModel)]="email"
        name="email"
        type="email"
        autocomplete="username"
        (input)="emailChange($event)"
        [required]="true"
        [fsAutofocus]="!email"
        [fsFormFunction]="validateExists"
        [fsFormEmail]="true"
        [validateOnSubmit]="true"
        (keydown)="keydown($event)">
    </mat-form-field>

    <mat-form-field class="password">
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        (input)="passwordChange($event)"
        [(ngModel)]="password"
        autocomplete="current-password"
        name="password">
    </mat-form-field> 
  </div>

    <app-stacked-buttons>
      <button        
        mat-flat-button
        type="submit"
        name="continue"
        color="primary">
      Continue
    </button>  
  </app-stacked-buttons>  
</form>