<form fsForm [submit]="submit" [confirm]="false">
  <div class="form-fields">
      <mat-form-field 
          class="full-width form-field-multiline-subscript">
        <input
          #emailInput
          matInput
          placeholder="Email"
          [(ngModel)]="email"
          name="email"
          autocomplete="email"
          [required]="true"
          [fsAutofocus]="!email"
          [fsFormFunction]="validateExists"
          [fsFormEmail]="true"
          [validateOnSubmit]="true"
          (keydown)="keydown($event)">
      </mat-form-field>
 
      <mat-form-field 
          class="password">
        <input
          matInput
          placeholder="Password"
          type="password"
          [(ngModel)]="password"
          autocomplete="password"
          name="password"
          fsPassword>
      </mat-form-field>
  </div>

  <app-stacked-buttons>
    <button        
        mat-raised-button
        type="submit"
        name="continue"
        color="primary">
      Continue
    </button>  
  </app-stacked-buttons>  
</form>