<form
    fsForm
    [submit]="submit"
    [confirm]="false"
    #form="fsForm">
  <div class="form-fields">
    <div class="email">
      <mat-icon>
        mail_outline
      </mat-icon>
      <span>
        {{ email }}
      </span>
      <button
          mat-button
          [disabled]="form.submitting"
          type="button"
          color="primary"
          (click)="changeEmail()"
          class="change">
        Change
      </button>
    </div>
    <div class="password">
      <mat-form-field class="full-width form-field-multiline-subscript">
        <mat-label>
          <span class="label-icon">
            <mat-icon>
              lock_outline
            </mat-icon>
            Password
          </span>
        </mat-label>
        <input
          #passwordInput
          matInput
          type="password"
          [(ngModel)]="password"
          autocomplete="password"
          name="password"
          fsPassword
          [fsAutofocus]="true"
          [validateOnSubmit]="true"
          [fsFormFunction]="validatePassword"
          [required]="true">
      </mat-form-field>
    </div>
  </div>
  <app-stacked-buttons>
    <button
        mat-flat-button
        type="submit"
        name="signin"
        color="primary">
      Sign in
    </button>
    <button
        mat-button
        type="button"
        name="continue"
        (click)="passwordReset.emit(email)">
      Forgot password
    </button>
  </app-stacked-buttons>
</form>