<form fsForm [submit]="submit" [confirm]="false">
  <div class="form-fields">
      <div class="email">
        {{email}} <a (click)="changeEmail()" class="change">Change</a>
      </div>
    <div class="password">
      <mat-form-field 
          class="full-width form-field-multiline-subscript">
        <input
          #passwordInput
          matInput
          placeholder="Password"
          type="password"
          [(ngModel)]="password"
          autocomplete="password"
          name="password"
          fsPassword
          [fsAutofocus]="true"
          (ngModelChange)="clearPassword()"
          [fsFormFunction]="validatePassword"
          [required]="true">
      </mat-form-field>
    </div>
  </div>

  <app-stacked-buttons>
    <button
        mat-raised-button
        type="submit"
        name="signin"
        color="primary">
      Sign In
    </button>
    <button        
        mat-button
        type="button"
        name="continue"
        (click)="passwordReset.emit(email)">
      Forgot Password
    </button> 
  </app-stacked-buttons>  
</form>