.password {
  &.hide {
    position: fixed;
    left: -10000px
  }
}

:host ::ng-deep {
  .label-icon {
    display: inline-flex;

    mat-icon {
      margin-right: 3px;
      align-self: center;
    }
  }
}

.email {
  font-size: 110%;
  display: flex;
  align-items: center;
  margin: 0 0 15px;
  justify-content: center;

  mat-icon {
    margin-right: 1px;
    transform: scale(.7); 
    color: #575757;
    flex-shrink: 0;
  }

  .change {
    margin-left: 4px;
    font-size: smaller;
    padding-left: 10px;
  }
}

form {
  overflow: hidden;

  &.submitting {
    .form-fields {
      opacity: .5;
    }
  }
}

.form-fields {
  &.slide {
    position: relative;
    animation: .5s slide-left;
  }
}

