:host ::ng-deep {
  .col-account {
    .row {
      display: flex;
      align-items: center;

      fs-badge {
        margin-right: 8px;
        font-weight: bold;

        ::ng-deep {
          .fs-badge-text {
            font-size: 130%;
          }
        }
      }
    }
  }
}