<form
    fsForm
    [submit]="submit"
    [confirm]="false">
  <fs-2fa-verification
    #verification
    [verificationMethod]="verificationMethod"
    [resend]="resend"
    [getVerificationMethods]="getVerificationMethods"
    [selectVerificationMethod]="selectVerificationMethod"
    [codeLength]="verificationCodeLength"
    (codeCompleted)="codeCompleted()"
    [trustDays]="trustedDeviceExpiryDays">
  </fs-2fa-verification>
  <app-stacked-buttons>
    <button
        mat-flat-button
        color="primary"
        type="submit">
      Verify
    </button>
    @if (verificationMethod?.type !== 'app') {
      <button
          mat-stroked-button
          [fs2faVerificationResend]="verification"
          type="button">
        Resend
      </button>
    }
    <button
        mat-stroked-button
        type="button"
        [disabled]="form?.submitting"
        (click)="verification.showVerificationMethods()">
      Try other ways to verify
    </button>
    <button
        mat-stroked-button
        type="button"
        [disabled]="form?.submitting"
        (click)="cancel()">
      Back to signin
    </button>
  </app-stacked-buttons>
</form>