
@switch (mode) {
  @case ('signin') {
    @if (signinTitle) {
      <div class="title signin-title">
        {{ signinTitle }}
      </div>
      @if (signinSubtitle) {
        <p class="subheading">
          {{ signinSubtitle }}
        </p>
      }
    }
    <app-credentials
      [email]="email"
      (verificationRequired)="verificationRequired($event)"
      (passwordReset)="passwordResetMode($event)">
    </app-credentials>
  }
  @case ('two-factor') {
    <div class="title two-factor-title">
      2-step verification
    </div>
    <app-two-factor-verification
      [verificationMethod]="verificationMethod"
      (cancelled)="signinMode()">
    </app-two-factor-verification>
  }
  @case ('password-reset') {
    <div class="title password-reset-title">
      {{ passwordResetTitle }}
    </div>
    <p class="subheading">
      {{ passwordResetSubtitle }}
    </p>
    <app-password-reset
      [email]="email"
      (completed)="passwordResetCompleted($event)"
      (titleChange)="passwordResetTitle = $event"
      (subtitleChange)="passwordResetSubtitle=$event"
      (cancelled)="signinMode()">
    </app-password-reset>
  }
}
