
.title {
  text-align: center;
  font-size: var(--mat-card-title-text-size, var(--mat-sys-title-large-size));

  &.signin-title {
    margin-bottom: 20px;
  }
}

.subheading {
  text-align: center;
}
