
<ng-container [ngSwitch]="mode">
  <ng-container *ngSwitchCase="'signin'">
    <ng-container *ngIf="signinTitle">
      <h1>
        {{signinTitle}}
        <ng-container *ngIf="signinSubtitle">
          <div class="subheading">{{signinSubtitle}}</div>
        </ng-container>
      </h1>
    </ng-container>
    <app-credentials
      [email]="email"
      (verificationRequired)="verificationRequired($event)"
      (passwordReset)="passwordResetMode($event)">
    </app-credentials>
  </ng-container>
  <ng-container *ngSwitchCase="'two-factor'">
    <h1>2-Step Verification</h1>
    <app-two-factor-verification
      [verificationMethod]="verificationMethod"
      (cancelled)="signinMode()">
    </app-two-factor-verification>
  </ng-container>
  <ng-container *ngSwitchCase="'password-reset'">
    <h1>{{passwordResetTitle}}</h1>
    <app-password-reset
      [email]="email"
      (completed)="passwordResetCompleted($event)"
      (titleChange)="passwordResetTitle = $event"
      (cancelled)="signinMode()">
    </app-password-reset>
  </ng-container>
</ng-container>