
<ng-container [ngSwitch]="mode">
  <ng-container *ngSwitchCase="'signin'">
    <ng-container *ngIf="signinTitle">
      <div class="title">{{signinTitle}}</div>
    </ng-container>
    <app-credentials
      [email]="email"
      (verificationRequired)="verificationRequired($event)"
      (passwordReset)="passwordResetMode($event)">
    </app-credentials>
  </ng-container>
  <ng-container *ngSwitchCase="'two-factor'">
    <div class="title">2-Step Verification</div>
    <app-two-factor-verification
      [verificationMethod]="verificationMethod"
      (cancelled)="signinMode()">
    </app-two-factor-verification>
  </ng-container>
  <ng-container *ngSwitchCase="'password-reset'">
    <div class="title">{{passwordResetTitle}}</div>
    <app-password-reset
      [email]="email"
      (completed)="passwordResetCompleted($event)"
      (titleChange)="passwordResetTitle = $event"
      (cancelled)="signinMode()">
    </app-password-reset>
  </ng-container>
</ng-container>